.choose-heading{
    font-size: 40px;
    line-height: 49.2px
}
.icon-image {
    width: 26px;
    font-size: 26px;
    line-height: 26px;
    margin-left: -40px;
    margin-top: 5px;
}
.choose-container {
    padding: 15px 0;
    margin-left: 50px;
    transform: translateY(-35px);
}

.choose-title {
    font-size: 20px;
    line-height: 19.2px;
    font-weight: 800;
    color: #1F1F1F;

}
.choose-description{
    font-size: 13px;
}


@media only screen and (max-width: 600px) {
    .choose-body{
        margin: -20px 0;
    }
  }